<div>
<br>

  <%= render 'query' %>

  <% if logged_in? %>

  <ul><h2>Listed Items</h2></ul>

    <%= render 'item_list' %>

  <% else %>
          <ul>Please sign in to see additional details.</ul>
  <% end %>
</div>