<% if logged_in? %>
    <% @sports.each do |sport|%>
        <ul><%= sport.name %></ul>
    <% end %>
<% else %>
    <ul>Please sign in to see available sports.</ul>
<% end %>

<div>
  <h3>See sports by listing prevalence</h3>
  <%= form_tag("/sports", method: "get") do %>
    <%= select_tag "sport" %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>