<div>
<br>
    <ul><h3>Add a product for donation:</h3></ul>
    <%= form_for @sport do |f| %>
    <ul>Sport: <%= f.text_field :name %></ul>
    
    <ul>Item Description: 


    <ul><%= f.submit "Submit" %></ul>
    <% end %>
</div>
<!-- put in partial -->