<br>
    <% if logged_in? %>

        <ul><h2>See All <%= link_to @sport.name, sport_products_path(@sport) %> Listings</h2></ul>
        <ul><h2><%= link_to "Donate", new_sport_product_path(@sport) %> New <%= @sport.name %> Item </h2></ul>

    <% else %>
            <ul>Please sign in to see additional details.</ul>
    <% end %>

<button id="products">My Products</button>
<div id="product"></div>