<br>
<ul><h2><%= @sport.name %></h2></ul>

<fieldset>
    <% if logged_in? %>

        <%= render 'sport' %>

    <% else %>
            <ul>Please sign in to see additional details.</ul>
    <% end %>
</fieldset>