<br>

    <%= render 'errors' %>

<% if current_user %>
    <ul><h3>Hello <%= @user.name %>!</h3></ul> 

    <ul><h3>Here are your current items listed for donation. Thank you for your support!</h3></ul>

    <%= render 'products' %>

<% end %> 