<ul><h2>Your donated items</h2></ul>
        <% @users.each do |product|%>
            <fieldset>
            <ul><strong>Sport</strong></ul>
            <ul><%= product.sport.name %></ul>
            <ul><strong>Item</strong></ul>
            <ul><%= product.product_name %></ul>
            <ul><strong>Item Description</strong></ul>
            <ul><%= product.product_description %></ul>
            </fieldset>
<% end %>